body {
  background-image: url(./background.png);
  background-size: cover;
  background-position: center;

  color: white;
  font-family: "Zen Kurenaido", Sans-Serif;
  font-size: 2rem;
  line-height: 1.2rem;
}

main {
  text-align: center;
  display: grid;

  text-align: center;
  place-content: center;
  min-height: 100vh;
}

section {
  padding: 4rem;
  border-radius: 1rem;
  background-color: #2d2356c0;
  backdrop-filter: blur(8px);
}

#wallet-button {
  position: fixed;
  top: 3rem;
  right: 3rem;
}
